
    #img {
        margin-left: 30px;
    }

    #mynavbar {
        margin-left: 570px;
    }

    #img0 {
        margin-left: 30px;
    }

    .d-block {
        width: 100%;
    }

    #head {
        color: rgb(226, 67, 67);
        font-size: 40px;

    }

    .img {
        height: 650px;
        padding: 30px;
        margin-left: -30px;
    }

    #card {
        width: 330px;
        height: 385px;
        border: none;
        margin-left: 70px;
    }

    #card1 {
        width: 330px;
        height: 385px;
        border: none;
        margin-left: 30px;
    }

    #card2 {
        width: 330px;
        height: 385px;
        border: none;
    }

    #text {
        font-size: 15px;
        padding: 120px;
    }

    #row0 {
        background-color: mistyrose;
        text-align: center;
        padding: 50px;
        padding-bottom: 150px;
    }

    #row2 {
        background-color: mistyrose;
        text-align: center;
    }

    #btn {
        border-radius: 20px;
    }

    #text2 {
        font-size: 20px;
        padding: 50px;
    }

    .card-title {
        background-color: gray;
        color: whitesmoke;
    }

    #demo0 {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    #text2 {
        text-decoration: none;
    }

    .card-img-top {
        height: 140px;
        width: 250px;

    }

    .card-text {
        color: rgb(128, 128, 128);
    }

    .row3 {
        padding: 70px;
    }

    #img5 {
        margin-top: -50px;
        width: 295px;
        height: 170px;

    }

    #img6 {
        margin-top: -50px;
        width: 295px;
        height: 170px;
    }

    #img7 {
        margin-top: -50px;
        width: 295px;
        height: 170px;
    }

    #img8 {
        width: 350px;
        height: 450px;
    }

    #img9 {
        width: 350px;
        height: 450px;
    }

    #img10 {
        width: 350px;
        height: 450px;
    }

    #img11 {
        width: 350px;
        height: 450px;
    }

    #text3 {
        padding: 50px;
        text-align: center;
    }

    #img16 {
        width: 494px;
        height: 450px;
    }

    #img17 {
        width: 494px;
        height: 450px;
    }

    #img18 {
        width: 494px;
        height: 450px;
    }

    #img19 {
        width: 100px;
        margin-left: 110px;
    }

    #img20 {
        width: 100px;
        margin-left: 100px;
    }

    #img21 {
        width: 100px;
        margin-left: 100px;
    }

    #img22 {
        width: 100px;
        margin-left: 90px;
    }

    #row5 {
        padding: 150px;
        background-color: mistyrose;
    }

    .subhead {
        text-align: center;
    }

    #img23 {
        width: 150px;
        margin-left: 380px;
    }

    #head1 {
        font-size: 35px;
        margin-top: 20px;
        margin-right: 200px;
    }

    #row6 {
        padding: 70px;
    }

    #row7 {
        background-color: peru;
    }

    #img24 {
        width: 747.5px;
        height: 672px;
    }

    #offers {
        background-color: mistyrose;
    }

    #head {
        color: rgb(226, 67, 67);
        font-size: 40px;
    }

    #text0 {
        padding: 80px;
        text-align: center;
    }

    #Service {
        font-size: 20px;
        padding: 50px;
        color: whitesmoke;
    }

    .link {
        color: rgb(226, 67, 67);
    }

    #img25 {
        width: 285px;
        height: 298px;
    }

    #img26 {
        width: 285px;
        height: 298px;
    }

    #img27 {
        width: 285px;
        height: 298px;
    }

    #img28 {
        width: 285px;
        height: 298px;
    }

    #row8 {
        padding-left: 150px;
        background-color: mistyrose;
    }

    #card7 {
        width: 590px;
        height: 300px;
        margin-right: 20px;
        border: none;
    }

    #card8 {
        width: 590px;
        height: 300px;
        border: none;
    }

    #card9 {
        width: 590px;
        height: 300px;
        margin-right: 20px;
        border: none;
    }

    #card10 {
        width: 590px;
        height: 300px;
        border: none;
    }

    .card-body {
        margin-top: 50px;
    }

    #para {
        padding: 105px;
    }

    #para0 {
        font-size: 25px;
    }

    #para1 {
        font-size: 20px;
        padding-right: 90px;
    }

    #col8 {
        padding: 70px;
    }

    #col9 {
        margin-left: 480px;
    }

    #img12 {
        margin-left: 120px;
        margin-top: -15px;
        height: 450px;
        width: 550px;
    }

    #img29 {
        width: 1500px;
        height: 400px;
    }

    #av3 {
        margin-left: 130px;
        width: 120px;
    }

    #para2 {
        padding: 60px;
    }

    #av2 {
        margin-left: 130px;
        width: 120px;
    }

    #para3 {
        padding: 60px;
    }

    #av1 {
        margin-left: 130px;
        width: 120px;
    }

    #para4 {
        padding: 60px;
    }

    #row9 {
        padding: 50px;
    }

    .price {
        text-align: center;
        font-size: 35px;
        margin-top: 50px;
    }

    .op {
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
    }

    #img30 {
        width: 874px;
        height: 650px;
    }

    #row12 {
        padding: 50px;
        margin-top: 100px;
    }

    #side13 {
        background-color: rgb(198, 133, 35);
        padding: 100px;
    }

    #win {
        background-color: rgb(198, 133, 35);
    }

    .book {
        font-size: 40px;
        margin-top: -24px;
    }

    .sh {
        font-size: 25px
    }

    .p {
        font-size: 20px;
    }

    #name {
        width: 380px;
        height: 60px;
    }

    #email {
        width: 380px;
        height: 60px;
    }

    .btn {
        width: 200px;
        height: 40px;
        text-align: center;
    }

    #map {
        width: 1505px;
        height: 550px;
    }

    #logo {
        margin-left: 590px;
        width: 300px;
        padding: 50px;
    }

    #fb {
        width: 20px;
        margin-right: 10px;
    }

    #tt {
        width: 20px;
        margin-right: 10px;
    }

    #gg {
        width: 20px;
        margin-right: 10px;
    }

    #ld {
        width: 20px;
        margin-right: 10px;
    }

    #yt {
        width: 20px;
        margin-right: 10px;
    }

    #row14 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #ft {
        text-align: center;
    }

    #ft1 {
        text-align: center;
    }

    #ft2 {
        text-align: center;
    }

    #gm {
        width: 50px;
        margin-left: 50px;
    }

    #row13 {
        margin: 100px;
        margin-left: 190px;
    }

    #h {
        margin-left: 20px;
        font-size: 20px;
        margin-top: 10px;
    }

    #h1 {
        margin-left: 48px;
        font-size: 20px;
        margin-top: 10px;
    }

    #inside {
        margin-top: -300px;
    }

    #out {
        background-color: rgba(0, 0, 0, 0.688);
        width: 360px;
        height: 200px;
        margin-left: 120px;
        text-align: center;
        padding: 20px;

    }

    #out1 {
        background-color: rgba(0, 0, 0, 0.688);
        width: 360px;
        height: 200px;
        margin-left: 100px;
        text-align: center;
        padding: 20px;
    }

    #out2 {
        background-color: rgba(0, 0, 0, 0.688);
        width: 360px;
        height: 200px;
        margin-left: 90px;
        text-align: center;
        padding: 20px;
    }

    .latest {
        font-size: 15px;
        color: whitesmoke;
    }

    .mid {
        font-size: 20px;
        color: peru;
    }

    .last {
        color: whitesmoke;
    }




    @media (min-width:300px) and (max-width:480px) {

        .nav-item {
            margin-left: -400px;
        }

        .navbar {
            width: 385px;
        }

        .carousel-inner {
            width: 360px;
        }


        .d-block {
            height: 290px;
            width: 400px;
        }

        #img0 {
            margin-left: 15px;
        }

        #head {
            color: rgb(226, 67, 67);
            font-size: 20px;
        }

        .img {
            height: 370px;
            margin-left: 30px;
            width: 315px;
            padding: 10px;
        }

        .card-img-top {
            width: 240px;
        }

        #card {
            margin-bottom: 80px;
        }

        #card {
            width: 280px;
            height: 385px;
            border: none;
            margin-left: -15px;
            margin-bottom: 50px;
        }

        #card1 {
            width: 280px;
            height: 385px;
            border: none;
            margin-left: -15px;
            margin-bottom: 50px;
        }

        #card2 {
            width: 280px;
            height: 385px;
            border: none;
            margin-left: -15px;
        }

        #img5 {
            width: 245px;
        }

        #img6 {
            width: 245px;
        }

        #img7 {
            width: 245px;
        }

        #text {
            width: 405px;
            margin-top: 20px;
            font-size: 8px;
            padding: 20px;
            margin-left: 5px;
        }

        #btn {
            width: 130px;
            height: 30px;
            padding: 2px;
            border-radius: 20px;
        }

        #img8 {
            width: 175px;
            height: 210px;
        }

        #img9 {
            width: 175px;
            height: 210px;
            margin-bottom: 15px;
            padding-right: 5px;
        }

        #img10 {
            width: 175px;
            height: 210px;
        }

        #img11 {
            width: 175px;
            height: 210px;
            padding-right: 5px;
        }

        #text3 {
            padding: 20px;
            text-align: center;
        }

        #img16 {
            width: 365px;
            height: 440px;
        }

        #img17 {
            width: 365px;
            height: 440px;
        }

        #img18 {
            width: 365px;
            height: 440px;
        }

        #img19 {
            margin-top: 20px;
            width: 100px;
            margin-left: 50px;
        }

        #img20 {
            margin-top: 20px;
            width: 100px;
            margin-left: 50px;
        }

        #img21 {
            width: 100px;
            margin-left: 50px;
        }

        #img22 {
            width: 100px;
            margin-left: 50px;
        }

        #row5 {
            padding: 5px;
            padding-bottom: 15px;
            background-color: mistyrose;
        }

        .subhead {
            text-align: center;
        }

        #img23 {
            width: 150px;
            margin-left: 30px;
        }

        #head1 {
            font-size: 20px;
            text-transform: uppercase;
            margin-left: 60px;
        }

        #row6 {
            padding: 80px;
        }

        #img24 {
            width: 350px;
            height: 410px;
        }

        #text0 {
            padding: 50px;
            text-align: center;
        }

        #img25 {
            width: 200px;
            height: 200px;
        }

        #img26 {
            width: 200px;
            height: 180px;
        }

        #img27 {
            width: 200px;
            height: 180px;
        }

        #img28 {
            width: 200px;
            height: 180px;
        }

        #card7 {
            width: 500px;
            height: 490px;
            border: none;
            margin-left: -80px;
        }

        #card8 {
            width: 500px;
            height: 490px;
            border: none;
            margin-left: -80px;
        }

        #card9 {
            width: 590px;
            height: 490px;
            border: none;
            margin-left: -80px;
        }

        #card10 {
            width: 590px;
            height: 490px;
            border: none;
            margin-left: -80px;
        }

        .card-body {
            margin-top: 10px;

        }

        #para {
            padding: 15px;
            margin-bottom: 50px;
            padding-left: 70px;
        }

        #para0 {
            font-size: 25px;
            padding: 5px;
        }

        #para1 {
            font-size: 15px;
            padding: 10px;
        }

        #col8 {
            padding: 10px;
        }

        #col9 {
            margin-left: 100px;
        }

        #img12 {
            margin-left: 15px;
            margin-top: 35px;
            height: 400px;
            width: 320px;
        }

        #av3 {
            margin-left: 70px;
            width: 150px;
        }

        #para2 {
            padding: 40px;
        }

        #av2 {
            margin-left: 70px;
            width: 150px;
        }

        #para3 {
            padding: 40px;
        }

        #av1 {
            margin-left: 70px;
            width: 150px;
        }

        #para4 {
            padding: 40px;
        }

        #row9 {
            padding: 50px;
        }

        #img29 {
            width: 360px;
            height: 1200px;
        }

        .price {
            text-align: center;
            font-size: 35px;
            margin-top: 50px;
        }

        .op {
            text-align: center;
            font-size: 20px;
            margin-bottom: 50px;
        }

        #row12 {
            padding: 50px;
        }

        #col13 {
            background-color: peru;
            padding: 100px;
            width: 600px;
        }

        .book {
            font-size: 40px;
            margin-left: 10px;
        }

        .sh {
            font-size: 25px;
            margin-left: 10px;
        }

        .p {
            font-size: 20px;
            margin-left: 10px;
        }

        #name {
            width: 300px;
            height: 60px;
            margin-left: -50px;
        }

        #email {
            width: 300px;
            height: 60px;
            margin-left: -50px;
        }

        .btn {
            width: 200px;
            height: 40px;
            text-align: center;
        }

        #img30 {
            width: 350px;
            height: 450px;
        }

        #map {
            width: 350px;
            height: 350px;
        }

        #logo {
            margin-left: 20px;
        }

        #ft {
            text-align: center;
        }

        #ft1 {
            text-align: center;
        }

        #ft2 {
            text-align: center;
        }

        #gm {
            width: 50px;
            margin-left: 50px;
            margin-top: 20px;
        }

        #row13 {
            margin: 100px;
            margin-left: 120px;
        }

        #h {
            margin-left: 20px;
            font-size: 20px;
            margin-top: 10px;
        }

        #h1 {
            margin-left: 48px;
            font-size: 20px;
            margin-top: 10px;
        }

        #inside {
            margin-top: -1200px;
        }

        #out {
            background-color: rgba(0, 0, 0, 0.688);
            width: 300px;
            height: 250px;
            margin-left: 40px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        #out1 {
            background-color: rgba(0, 0, 0, 0.688);
            width: 300px;
            height: 250px;
            margin-left: 40px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        #out2 {
            background-color: rgba(0, 0, 0, 0.688);
            width: 300px;
            height: 250px;
            margin-left: 40px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        .latest {
            font-size: 15px;
            color: whitesmoke;
        }

        .mid {
            font-size: 20px;
            color: peru;
        }

        .last {
            color: whitesmoke;
        }

    }

    @media (min-width:425px) and (max-width:666px) {
        .nav-item {
            margin-left: -400px;
        }

        .navbar {
            width: 425px;
        }

        .d-block {
            height: 290px;
            width: 400px;
        }

        .carousel-item active {
            width: 400px;
        }

    }

    @media (min-width:768px) and (max-width:991px) {

        #mynavbar {
            margin-left: 100px;
        }

        #demo {
            width: 1000px;
        }

        #img0 {
            margin-left: 15px;
        }

        .img {
            height: 660px;
            margin-left: -20px;
            width: 650px;
            padding: 40px;
        }

        .card-img-top {
            width: 240px;
        }

        #card {
            margin-bottom: 80px;
        }

        #card {
            width: 300px;
            height: 490px;
            border: none;
            margin-left: -20px;
            margin-bottom: 5px;
        }

        #card1 {
            width: 300px;
            height: 490px;
            border: none;
            margin-left: -5px;
            margin-bottom: 5px;
        }

        #card2 {
            width: 300px;
            height: 490px;
            border: none;
            margin-left: 10px;
            margin-bottom: 5px;
        }

        #row {
            padding: none;
        }

        #row2 {
            width: 1026px;
        }

        #row0 {
            width: 1026px;
        }


        #img5 {
            width: 265px;
        }

        #img6 {
            width: 265px;
        }

        #img7 {
            width: 265px;
        }

        #text {
            margin-top: 20px;
            font-size: 15px;
            padding: 10px;
            padding-left: 70px;
        }

        #img8 {
            width: 495px;
            height: 480px;
            padding-bottom: 20px;
        }

        #img9 {
            width: 495px;
            height: 480px;
            padding-bottom: 20px;
            margin-left: 120px;
        }

        #img10 {
            width: 495px;
            height: 480px;
            padding-bottom: 10px;
        }

        #img11 {
            width: 495px;
            height: 480px;
            padding-bottom: 10px;
            margin-left: 120px;
        }

        #text3 {
            padding: 50px;
            text-align: center;
            margin-left: 120px;
        }

        #row4 {
            height: 300px;
        }

        #img16 {
            width: 999px;
            height: 680px;
        }

        #img17 {
            width: 999px;
            height: 680px;
        }

        #img18 {
            width: 999px;
            height: 680px;
        }

        #img19 {
            width: 150px;
            margin-left: 180px;
        }

        #img20 {
            width: 150px;
            margin-left: 170px;
        }

        #img21 {
            width: 150px;
            margin-left: 170px;
        }

        #img22 {
            width: 150px;
            margin-left: 160px;
        }

        #row5 {
            padding: 50px;
            width: 1027px;
            height: 650px;
            background-color: mistyrose;
        }

        .subhead {
            text-align: center;
        }

        #img23 {
            width: 150px;
            margin-left: 150px;
        }

        #head1 {
            font-size: 17px;
            margin-left: 10px;
            text-transform: uppercase;
            text-align: end;
            margin-top: -8px;
        }

        #row6 {
            padding: 45px;
        }

        #img24 {
            width: 1005px;
        }

        #text0 {
            padding: 50px;
            text-align: center;
        }

        #row6 {
            margin-left: 10px;
        }

        #col0 {
            margin-left: 490px;
            margin-top: -150px;
        }

        #row7 {
            width: 1027px;
        }

        #Service {
            text-align: center;
        }

        #offers {
            width: 1027px;
        }

        .link {
            color: rgb(226, 67, 67);
        }

        #img25 {
            width: 375px;
            height: 348px;
        }

        #img26 {
            width: 375px;
            height: 348px;
        }

        #img27 {
            width: 375px;
            height: 348px;
        }

        #img28 {
            width: 375px;
            height: 348px;
        }

        #row8 {
            width: 1027px;
            background-color: mistyrose;
            margin-top: -100px;
        }

        #card7 {
            width: 740px;
            height: 350px;
            border: none;
            margin-top: 100px;
        }

        #card8 {
            width: 740px;
            height: 350px;
            border: none;
        }

        #card9 {
            width: 740px;
            height: 350px;
            margin-right: 20px;
            border: none;
        }

        #card10 {
            width: 740px;
            height: 350px;
            border: none;
        }

        .card-body {
            margin-top: 50px;
            text-align: center;
            font-size: 20px;
        }

        #para {
            padding: 15px;
            margin-bottom: 50px;
            padding-left: 150px;
        }

        #para0 {
            font-size: 25px;
            padding: 5px;
        }

        #para1 {
            font-size: 15px;
            padding: 10px;
        }

        #col8 {
            padding: 10px;
        }

        #col9 {
            margin-left: 300px;
        }

        #img12 {
            margin-left: 50px;
            margin-top: 35px;
            height: 400px;
            width: 400px;
        }

        #av3 {
            margin-left: 120px;
            width: 120px;
        }

        #para2 {
            padding: 5px;
            margin-left: 150px;
        }

        #av2 {
            margin-left: 180px;
            width: 120px;
        }

        #para3 {
            padding: 5px;
            margin-left: 210px;
        }

        #av1 {
            margin-left: 210px;
            width: 120px;
        }

        #para4 {
            padding: 5px;
            margin-left: 240px;
        }

        #row9 {
            padding: 50px;
        }

        #img29 {
            width: 1005px;
            height: 1250px;

        }

        .price {
            text-align: center;
            font-size: 40px;
            margin-top: 50px;
            margin-left: 240px;
        }

        .op {
            text-align: center;
            font-size: 25px;
            margin-bottom: 50px;
            margin-left: 240px;
        }

        #row12 {
            padding: 50px;
        }

        #img30 {
            width: 1005px;
            height: 720px;
        }

        #side13 {
            padding: 100px;
            height: 700px;
            width: 1005px;
        }

        #win {
            background-color: peru;
            width: 1027px;
        }

        .book {
            font-size: 40px;
        }

        .sh {
            font-size: 25px
        }

        .p {
            font-size: 20px;
        }

        #name {
            width: 600px;
            height: 80px;

        }

        #email {
            width: 600px;
            height: 80px;

        }

        .btn {
            width: 200px;
            height: 60px;
            text-align: center;
        }

        #map {
            width: 1015px;
            height: 550px;
        }

        #logo {
            margin-left: 350px;
        }

        #fb {
            width: 20px;
            margin-right: 10px;
        }

        #tt {
            width: 20px;
            margin-right: 10px;
        }

        #gg {
            width: 20px;
            margin-right: 10px;
        }

        #ld {
            width: 20px;
            margin-right: 10px;
        }

        #yt {
            width: 20px;
            margin-right: 10px;
        }

        #row14 {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: 250px;
        }

        #ft {
            text-align: center;
        }

        #ft1 {
            text-align: center;
        }

        #ft2 {
            text-align: center;
        }

        #fb {
            width: 20px;
            margin-right: 10px;
        }

        #tt {
            width: 20px;
            margin-right: 10px;
        }

        #gg {
            width: 20px;
            margin-right: 10px;
        }

        #ld {
            width: 20px;
            margin-right: 10px;
        }

        #yt {
            width: 20px;
            margin-right: 10px;
        }

        #row14 {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        #gm {
            width: 50px;
            margin-left: 30px;
        }

        #row13 {
            margin: 100px;
            margin-left: 390px;
        }

        #h {
            margin-left: 10px;
            font-size: 20px;
            margin-top: 10px;
        }

        #h1 {
            margin-left: 48px;
            font-size: 20px;
            margin-top: 10px;
        }

        #call {
            margin-top: 200px;
        }

        #work {
            margin-top: 200px;
        }

        #inside {
            margin-top: -1200px;
        }

        #out {
            background-color: rgba(0, 0, 0, 0.688);
            width: 800px;
            height: 250px;
            margin-left: 120px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        #out1 {
            background-color: rgba(0, 0, 0, 0.688);
            width: 800px;
            height: 250px;
            margin-left: 120px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        #out2 {
            background-color: rgba(0, 0, 0, 0.688);
            width: 800px;
            height: 250px;
            margin-left: 120px;
            text-align: center;
            padding: 20px;
            margin-top: 100px;
        }

        .latest {
            font-size: 15px;
            color: whitesmoke;
        }

        .mid {
            font-size: 20px;
            color: peru;
        }

        .last {
            color: whitesmoke;
        }




    }
